@import url(../../common.css);

/* wrpper의 크기는 50%, 양쪽에 여백 좌우로만 동일하게_margin으로 작성 */

#wrapper {
  width: 80%;
  margin: auto;
  font-family: '굴림';
}

#wrapper header{
  background: rgb(5, 5, 119);
  font-family: sans-serif;
  text-align: center;
  padding: 10px 10px 20px 10px;
  font-weight: bold;
  color: yellow;
}

header h1 strong {
  font-size: 2.5em;
  color: white;
}

header h1 span {
  font-size: 1.5em;
}

header h1 em {
  font-size: 2.3em;
  color: white;
}

.container {
  float:left;
}




